body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer_bg{
  background-color: #3e4551
}
.height{
  height:700px
}
.ch{
  width: 100%;
}
.chi{
  width:100%;height: 200px;
}
.card:hover{
  transform: scale(1.1,1.1);
}
